<div class="container">
<% if @article.errors.any? %>
<h2>the following erorrs prevented the article from being saved</h2>
<ul>
<% @article.errors.full_messages.each do |msg| %>
<li><%= msg %></li>
<% end %>
</ul>
<% end %>
<div class="row justify-content-center">
<div class="col-10">
<%= form_with(model: @article,class:"shadow p-3 mb-3 bg-info rounded", local: true) do |f| %>
<div class="form-groub row">
<%= f.label :title, class: "col-2 col-form-label" %>
<div class="col-10">
<%= f.text_field :title, class: "form-control shadow rounded", placeholder:"Enter a title" %>
</div>
</div>
<div class="form-groub row">
<%= f.label :description, class: "col-2 col-form-label" %>
<div class="col-10">
<%= f.text_area :description, rows:10,class: "form-control shadow rounded", placeholder:"Enter a description"  %>
</div>
</div>
<div class="form-groub row justify-content-center">
<%= f.submit class:"btn btn-outline-light btn-lg" %>
</div>
<% end %>
</div>
</div>
</div>