<div id="page-content">
<h1 class="text-center mt-4 text-white">Articles Listing page</h1>
<% @articles.each do |article| %>
<div class="row justify-content-md-center">
<div class="col-8 mt-4">
<div class="card text-center shadow-sm mb-5 bg-white rounded">
  <div class="card-header">
    Featured
  </div>

  <div class="card-body">
    <h5 class="card-title"><%= link_to article.title,article_path(article), class:"text-success" %></h5>
    <p class="card-text"><%= article.description %></p>
     <%= link_to "View", article_path(article), class:"btn btn-outline-success"%>
     <%= link_to "Delete", article_path(article),method: :delete , class:"btn btn-outline-danger"%>
     <%= link_to "Edit", edit_article_path(article), class:"btn btn-outline-info"%>


  </div>
  <div class="card-footer text-muted">
    <small><%=time_ago_in_words(article.created_at)%> ago</small>
    <small><%=time_ago_in_words(article.updated_at)%> ago</small>
  </div>
</div>
</div>
</div>
<%end%>
</div>

<table>
<thead>
<tr>
<th>Title</th>
<th>Description</th>
<th colspan='3'>Action</th>
</tr>
</thead>
<tbody>

<% @articles.each do |article| %>

<tr>
<td><%= article.title %></td>
<td><%= article.description %></td>
<td><%= link_to "Delete", article_path(article), method: :delete %></td>
<td><%= link_to "edit", edit_article_path(article) %></td>


</tr>


<% end %>
<tr>


<td><%= link_to "Create", new_article_path() %></td>
</tr>
</tbody>
</table>
